<form [formGroup]="form" (ngSubmit)="login()">
    <div *ngIf="form.errors" class="alert alert-danger">
        username and password is in valid
    </div>
    <div formGroupName="account">
            <div class="form-group">
                    <label for="username">Username</label>
                    <input 
                        formControlName="username"
                        id="username" 
                        type="text" 
                        class="form-control">
                </div>
                <div *ngIf="username.pending">Checking for uniqueness....</div>
                <div *ngIf="username.touched && username.invalid" >
                <div *ngIf="username.errors.required" class="alert alert-danger">
                    Username is required
                </div>
                <div *ngIf="username.errors.minlength" class="alert alert-danger">
                    Minimum length of {{username.errors.minlength.requiredLength}} is required.
                </div>
                <div class="alert alert-danger" *ngIf="username.errors.cannotContainSpace">
                    Should not contain spaces</div>
                    <div *ngIf="username.errors.shouldBeUnique" class="alert alert-danger">Should be unique</div>
                </div>
                
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        formControlName="password" 
                        id="password" 
                        type="text" 
                        class="form-control">
                </div>
    </div>
    
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
<button (click)="user()">get</button>