<button class="btn btn-warning" (click)="getError()">find</button>
<form [formGroup]="form" (ngSubmit)="login()">
  <div *ngIf="form.errors.invalidLogin" class="alert alert-danger">Invalid credentials</div>
  <div class="form-group">
      <label for="old-password">Old Password</label>
      <input 
      id="old-password" 
      class="form-control" 
      formControlName="oldPassword"
      type="text">
      <div *ngIf="oldPassword.pending" class="alert alert-warning">Pending....</div>
      <div *ngIf="oldPassword.touched && oldPassword.invalid">
        <div *ngIf="oldPassword.errors.required" class="alert alert-danger">Old password is required</div>
        <div *ngIf="oldPassword.errors.oldPasswordIncorrect" class="alert alert-danger">
          Password is incorrect
        </div>
      </div>
  </div>
  <div class="form-group">
      <label for="new-password">New Password</label>
      <input 
      id="new-password" 
      class="form-control" 
      formControlName="newPassword"
      [(ngModel)]="newPass"
      type="text">
      <div *ngIf="newPassword.touched && newPassword.invalid">
          <div *ngIf="newPassword.errors.required" class="alert alert-danger">new password is required</div>
        </div>
  </div>
  <div class="form-group">
      <label for="confirm-password">Confirm Password</label>
      <input 
      id="confirm-password" 
      class="form-control" 
      formControlName="confirmPassword"
      type="text">
      <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
          <div *ngIf="confirmPassword.errors.required" class="alert alert-danger">Confirm password is required</div>
            
        </div>
        <div *ngIf="confirmPassword.valid && form.errors.passwordShouldMatch && form.invalid" class="alert alert-danger">Password doesnot match</div>
  </div>
  
  <br>
  <button class="btn btn-primary">Save</button>
</form>
<br>

